[flake8]
max-line-length = 88
show-source=True
exclude =
    *migrations*,
    __pycache__,
    manage.py,
    settings.py,
    .git
ignore = E203, W503
select = C,E,F,W,B,B950
import-order-style = google
inline-quotes = single
multiline-quotes = double
count=True
statistics=True